<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Fabio Chirinos">
  <title>Login con Node + JWT </title>

  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
  <main class="form-signin shadow-lg p-3 mb-5 w-100 mx-auto">

    <form id="formLogin" action="/login" method="POST">
      <img class="mb-4" src="img/login_icon.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Ingrese sus datos</h1>
      <div class="form-floating">
        <input type="text" class="form-control" id="user" name="user" placeholder="User">
        <label for="user">User</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
        <label for="pass">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
    </form>

    <br>
    <a href="/register" type="button" class="w-100 btn btn-lg btn-success">Registrarse</a>
  </main>


  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(alert){ %>
    <script>
      Swal.fire({
        title: '<%= alertTitle %>',
        text: '<%= alertMessage %>',
        icon: '<%= alerIcon %>',
        showConfirmButton: <%= showConfirmButton %>,
        timer: <%= timer %>
      }).then(() => {
          window.location = '/<%= ruta %>'
        })
    </script>

    <% } %>

</body>

</html>